<img class="aboutme-photo" src="/assets/img/profile_photo.jpg"><img />
<p>
    I'm David McDonald, an Australian with a taste for:
</p>
<ul>
    <li>Software development</li>
    <li>Electronic engineering</li>
    <li>The nerdy lifestyle</li>
</ul>
<p>
    My career focus is in <a href="https://www.servicenow.com">the ServiceNow platform</a>, but I'm also interested in C#, web design, and C++ for programming Arduinos in my spare time.
</p>