<ul class="list-group">
    {% for post in postslist %}
    <li class="list-group-item">
        <a href="{{ post.url }}">
            <img src="{{ post.url }}{{ post.data.imageThumbnail }}" class="postlistbrief-image" alt="Thumbnail">
            <a href="{{ post.url }}">{{ post.data.title }}</a>
            <div class="post-date">{{ post.date | readableDate }}</div>
        </a>
    </li>
    {% endfor %}
</ul>