<div class="tags-block card">
    <div class="card-header">
        Tags
    </div>
    <div class="card-body">
        {% for tag in collections.tagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
        {% endfor %}
    </div>
</div>