---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="flex-fill home-splash">
  <div class="home-splash-content">
    <h1>{{ metadata.splash.name}}</h1>
    <h2>{{ metadata.splash.description}}</h2>
  </div>
</div>

<div class="container home-content">
  <div class="row">
    <div class="col-md-8">
      {% set maxPosts = collections.posts.length | min(9) %}

      {% set postslist = collections.posts | head(-9) %}
      {% set postslistShowLinkToAll = true %}
      {% set postslistCounter = collections.posts | length %}

      {% include "postlistfull.njk" %} 
    </div>
    <div class="col-md-4">
      <div class="card aboutshort">
        <div class="card-header">
          About me
        </div>
        <div class="card-body">
          <p>
            My name is David McDonald, an Australian with a taste for:
          </p>
            <ul>
              <li>Software development</li>
              <li>Electronics</li>
              <li>Most things nerdy</li>
            </ul>
          <p>
            For software development, my career focus is on <a href="https://www.servicenow.com">ServiceNow</a>, but I'm also interested in C#, web design, and C++ for programming Arudinos in my spare time.
          </p>
        </div>
      </div>

      {% include "alltagsblock.njk" %}

    </div>

    
  </div>
</div>

