---
layout: layouts/simple.njk
eleventyNavigation:
  key: All posts
  order: 2
---

<h1>All posts</h1>


            {% set postslist = collections.posts | reverse %}

            {% include "postlistfull.njk" %}