---
layout: layouts/home.njk
title: Projects
templateClass: tmpl-post
eleventyNavigation:
  key: Projects
  order: 4
---

<div class="container">
    <h2>Section</h2>
    <div class="md-10 row">
        <div class="col-md-4">
            Test project.
        </div>
        <div class="col-md-4">
            Test project.
        </div>
        <div class="col-md-4">
            Test project.
        </div>
        <div class="col-md-4">
            Test project.
        </div>
        <div class="col-md-4">
            Test project.
        </div>
        <div class="col-md-4">
            Test project.
        </div>
        <div class="col-md-4">
            Test project.
        </div>
    </div>
</div>